#myDialog {
    width: 40rem; 
    height: auto;
    min-height: 30rem; 
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
}

#myDialog-header {
    border-radius: 6px;
    padding: 0.5rem;
    background: #343A40;
    color: #FFFFFF;
    margin-left: 0.5rem;
    width: 37.7rem;
}

#myDialog-body {
    min-height: 32rem;
    margin-top: 0.5rem;
}

#myDialog-messages{
    overflow: auto;
    height: 26rem;
}

#myDialog-footer {
    padding: 0.5rem 0.5rem 0 0.5rem;
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

#close-button, #save-button {
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #F7F7F7;
}

#close-button:hover, #save-button:hover {
    background-color: #EBECF0;
}

.selected-message {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #DDE6E2;
}

#task-title-input {
    width: 37.5rem;
    border-radius: 6px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: solid 1px #D2CFC8;
}

#project-select, #service-select, #request-select, #frequency-select {
    width: 18rem;
    border: solid 1px #D2CFC8;
    border-radius: 6px;
    padding: 0.5rem;
}

#project-select, #request-select {
    margin: 0.5rem;
}

#service-select, #frequency-select {
    margin: 0.5rem 0.5rem 0.5rem 2rem;
}

#project-select:focus, #service-select:focus, #request-select:focus, #frequency-select:focus, #task-title-input:focus {
    border: solid 1px #919AA0 !important;
}